name: Scenario Gym testing

on:
  push:
    branches:
      - main
      - develop

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[gym,dev,testing]
      - name: cv2 dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg libsm6 libxext6  -y
          
      - name: Lint with flake8
        run: >-
          flake8
          --ignore C901,E203,E741,W503,BLK100 
          --max-line-length 84 
          --max-complexity 18 
          --select B,C,E,F,W,T4,B9 
          --per-file-ignores __init__.py:F401
          --exclude examples
      - name: Test with pytest
        run: |
          python -m pytest tests


          
